@media only screen and (max-width: 1200px) {
  .card-wrapper {
    margin-bottom: 20px;
    text-align: justify;
  }
}

  .card-text {
    text-align: justify;
  }

  .button-view {
    color: white;
    align-content: center;
  }

  .link {
    color: white;
    text-decoration: none;
  }